.section-subtitle_width_360px {
    max-width: 320px;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 320px) {
    .section-subtitle_width_360px {
        max-width: 288px;
        font-size: 14px;
        line-height: 16px;
    }
}