.section-title_width_690px {
    max-width: 690px;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
}

@media screen and (max-width: 320px) {
    .section-title_width_690px {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
}