@import url(./__text/intro__text.css);

.intro {
    padding-top: 114px;
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: calc(100% - 296px) ;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .intro {
        max-width: calc(100% - 96px)
    }
}

@media screen and (max-width: 768px) {
    .intro {
        padding-top: 110px;
        max-width: calc(100% - 48px)
    }
}

@media screen and (max-width: 320px) {
    .intro {
        padding-top: 86px;
        max-width: calc(100% - 32px)
    }
}