.cover__title {
  margin-bottom: 32px;
  text-align: center;
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
}

@media screen and (max-width: 767px) {
  .cover__title {
    margin-bottom: 16px;
    max-width: 288px;
    font-size: 32px;
  }
}
