@import url(./__image/place__image.css);

@import url(./__link/place__link.css);

@import url(./__paragraph/place__paragraph.css);

@import url(./__url-heading/place__url-heading.css);

@import url(./__website/place__website.css);

.place {
    padding-top: 80px;
    display: grid;
    grid-template-columns: 8fr minmax(min-content, 9fr);
    row-gap: 48px;
    column-gap: 40px;
}

.place:first-child {
    padding-top: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        column-gap: 32px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        padding-top: 73px;
        column-gap: 28px;
    }
}

@media screen and (max-width: 320px) {
    .place {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
    }
}