@import url(./__copyright/footer__copyright.css);

.footer {
    max-width: calc(100% - 96px);
    margin: 0 auto;
    padding: 92px 0 24px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: calc(100% - 48px);
        padding: 88px 0 24px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        flex-direction: column;
        padding: 64px 0 24px;
        margin-left: 16px;
    }
}